{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add an item for tracking</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary mt-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addItemModal">Add</button>
            <a href="{% url 'update-prices' %}">
                <button class="btn btn-info">Update</button>
            </a>
        </div>
        <div class="col" style="text-align:right">
            <div>Total number of items being tracked: {{items_no}}</div>
            <div>Discounted items: {{no_discounted}}</div>
        </div>
    </div>
    {% if qs %}
        {% for item in qs %}
            <div class="card mt-3">
                <div class="card-header">
                    <h5>{{item.name}}</h5>
                    <a href="{% url 'delete' item.l_id %}"><button class="btn btn-danger">delete?</button></a>
                </div>
                <div class="card-body">
                    <div class="blockquote">
                        <div>current price ($): {{item.current_price}}</div>
                        <div>old price ($): {{item.old_price}}</div>
                        <div>difference ($): {{item.price_difference}}</div>
                        <div>link: <a href="{{item.url}}">{{item.url}}</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3> No items being tracked ... </h3>
    {% endif %}
{% endblock content %}